.page-layout{
    display: grid;
    grid-auto-flow: column;
}

.video-listing-main{
    padding-top: 1rem; 
    gap: 1.5rem;
} 

.navbar-links{
    width:20%;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.sign-in:hover{
    color: var(--bg-primary);
}

.menu{
    gap: 1rem;
    padding: 1rem;
    background-color: var(--bg-color);
    width: 15em;
}

.menu-title-section{
    width: 10rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

.section-title{
    margin: 0;
}

.category-button{
    border: none;
    background: none;
    font-size: 1rem;
    padding: 0 1rem;
    width: 8rem;
    font-weight: 300;
    cursor: pointer;
}

.category-button:hover{
    background: none;
    color: var(--bg-primary);
    text-shadow: 1.5px 1.5px 1px var(--box-shadow);
    box-shadow: none;
}

.menu-item:not(:last-child){
    margin-bottom: 10px;
}

:where(.category-section , .subs-section) li{
    text-align: center;
}

.subs-section a {
    text-decoration: none;
    color: var(--black);
    align-items: center;
}

.subscription-avatar{
    height: 1rem;
    width: 1rem;
}

.video-card{
    width: 15rem;
    cursor: pointer;
}

div.video-card > *:not(:first-child):not(:last-child) {
    margin-bottom: 5px;
    padding-left: 5px;
}

.video-card .card-badge{
    background: none;
    color: var(--black);
}

.video-card-timer {
        position: absolute;
        background: var(--black);
        color: var(--white);
        padding: 2px 5px;
        margin: 5px; 
        font-size: 0.8rem;
    
}

.video-card .card-title{
    font-size: 1rem;
}

.video-card .sub-title, .video-card .h6{
    font-size: 0.8rem;
    color: var(--text-secondary);
}

.video-card .h6 {
    font-weight: 700;
}

.video-card button{
    width: 100%;
    border-radius: 0; 
}